-# %ul.nav.nav-pills
-#   %li.active
-#     %a{href: "#"} Home
-#   %li
-#     %a{href: "#"} Map
-#   %li
-#     %a{href: "#"} About

-# %nav.navbar.navbar-default{role: "navigation"}
-#   .container-fluid
-#     / Brand and toggle get grouped for better mobile display
-#     .navbar-header
-#       %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
-#         %span.sr-only Toggle navigation
-#         %span.icon-bar
-#         %span.icon-bar
-#         %span.icon-bar
-#       %a.navbar-brand{href: "#"} Home
-#     / Collect the nav links, forms, and other content for toggling
-#     #bs-example-navbar-collapse-1.collapse.navbar-collapse
-#       %ul.nav.navbar-nav
-#         %li
-#           %a{href: "/main/map"} Map
-#         %li
-#           %a{href: "#"} About

-# #homePage.container
.jumbotron
  %h1 Welcome to Mapper
  %p Start all your awesome mapping here.
  %p
    %a.btn.btn-primary.btn-lg{href: "/main/map", role: "button"} Start Mapping

.row
  .col-md-3.left
    %h5 How mapper works
    .text Just always one click away - mapper creates a spatial representation of wherever you are or where you want to go.
  .col-md-3.middle
    %h5 Powerful use cases
    .text With mapper you never have to worry about finding the cool restaurants or bars near you.  Mapper takes care of finding all the things you like to do near you.
  .col-md-3.right
    %h5 It's social
    .text Mapper allows you to share your location with friends in your social networks so that you can quickly see where your friends are hanging out and meet up with them.

-# .row
-#   .col-md-2.col-md-offset-2
-#     Column 1B
-#   .col-md-4
-#     Column 2B
-#   .col-md-4
-#     Column 3B


